components/nmt/__pycache__/*
components/__pycache__/*
components/lmc/__pycache__/*
util/__pycache__/*
*/__pycache__/*
utils/data/__pycache__/*
*.ipynb
*.pyc
__pycache__/
*.png
*.npy
*.log
*.json
*.out
/Results/*
/.github/*